In [5]:
import pandas as pd
dfraw = pd.read_excel("../../OWL/MOs/GTD_data/rawData.xlsx")

In [72]:
subset = dfraw.head(300)
dftax = pd.read_excel("../../OWL/MOs/GTD_data/taxonomy.xlsx")
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
# pd.concat(subset, dftax, how='left', on=['attacktype1', 'suicide', 'weapsubtype1', 'claimed', 'targtype1'])
dftax[(dftax.attacktype1 == 'Bombing/Explosion') & (dftax.suicide == 1) & (dftax.weapsubtype1 == 'Vehicle') & (dftax.claimed == 1) & (dftax.targtype1 == 'Business')]['Fifth level'].values[0]

'Claimed suicide bombing by vehicle of business targets'

In [92]:
def categorise(row):
    attacktype1 = row['attacktype1_txt']
    suicide = row['suicide']
    weapsubtype1 = row['weapsubtype1_txt']
    claimed = row['claimed']
    targtype1 = row['targtype1_txt']
#     print(attacktype1)
#     print(suicide)
#     print(weapsubtype1)
#     print(claimed)
#     print(targtype1)
    label = dftax[(dftax.attacktype1 == attacktype1) & (dftax.suicide == suicide) & (dftax.weapsubtype1 == weapsubtype1) & (dftax.claimed == claimed) & (dftax.targtype1 == targtype1)]['Fifth level'].values
    if len(label) > 0:
        print(label[0])
        return label[0]

subset['label'] = subset.apply(categorise, axis=1)
subset[subset['label'].notna()]

Unclaimed suicide bombing by vehicle of religious targets
Unclaimed suicide bombing by vehicle of religious targets
Claimed suicide bombing by vehicle of military targets
Unclaimed suicide bombing by vehicle of military targets
Claimed suicide bombing by vehicle of private citizen or property targets

<ipython-input-92-e9ea33a2c967>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['label'] = subset.apply(categorise, axis=1)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related,circumstance_time,circumstance_nvictims,circumstance_location,circumstance_target,label
64,199801250002,1998,1,25,NaN,0,NaT,186,Sri Lanka,6,...,0,0,0,0,NaN,1998-1-25,26,Kandy-nan,Dalada Maligawa Buddhist shrine in Kandy-Dalad...,Unclaimed suicide bombing by vehicle of religi...
71,199801260001,1998,1,26,NaN,0,NaT,186,Sri Lanka,6,...,0,0,0,0,NaN,1998-1-26,23,Kandy-nan,Sri Lanka's holiest Buddhist temple in Kandy-B...,Unclaimed suicide bombing by vehicle of religi...
154,199802230002,1998,2,23,NaN,0,NaT,186,Sri Lanka,6,...,0,0,0,0,NaN,1998-2-23,46,Point Pedro-This incident occurred 10 nautical...,A Sri Lankan Navy cargo ship and a landing cra...,Claimed suicide bombing by vehicle of military...
198,199803110001,1998,3,11,NaN,0,NaT,186,Sri Lanka,6,...,0,0,0,0,NaN,1998-3-11,7,Trincomalee-nan,Sri Lankan Navy Craft in Trincomalee. Sri Lank...,Unclaimed suicide bombing by vehicle of milita...
237,199803300001,1998,3,30,NaN,0,NaT,155,West Bank and Gaza Strip,10,...,0,0,0,0,NaN,1998-3-30,1,Ramallah-nan,Israeli Citizens in Ramallah-Civilians,Claimed suicide bombing by vehicle of private ...